@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: url(../img/bg/insta/test2.jpg);
    /*background: #DE6262;   fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);   Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to bottom, #FFB88C, #DE6262);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 100px 0;
margin-bottom: 60px;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.bestcointain {background:#fff; border-radius: 10px;}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    color: black;}
.login-sec h2:after{content: " ";
    width: 100px;
    height: 5px;
    background: #a9283f;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: -60px;
    margin-right: auto;}
.btn-login {
    background: #ff0000;
    color: white;
    font-weight: 600;
}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
#boxshadow{
    box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
}
body{
    overflow-y: hidden;
}
.carousel-indicators .active {
    background-color: #f00;
}